.jumbotron {
    color: white;
	background-image: url('../images/banner576x383.jpg');
    background-size: cover;
    background-repeat: no-repeat;
} 

a {
    color: black !important;
    text-decoration: none;
}

a:hover 
{
     color: black; 
     text-decoration: none !important;
     cursor: pointer;  
}

footer {
    padding-top: 30px;
    color: white;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: block;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-item {
	height: 180px;
	padding: 30px 0px;
	
}

@media (min-width: 576px) { 
    .jumbotron {
        background-image: url('../images/banner576x383.jpg');
}

@media (min-width: 768px) {
    .jumbotron {
        background-image: url('../images/banner768x511.jpg');
}

@media (min-width: 992px) {
    .jumbotron {
        background-image: url('../images/banner992x661.jpg');
}

@media (min-width: 1200px) {
    .jumbotron {
        background-image: url('../images/banner1200x800.jpg');
}